<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>#КУПИ/#ПРОДАЙ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/css/style.css">
    <link rel="icon" href="../styles/images/logo1.png" sizes="32x32" type="image/png">
    <link type="text/css" href="../styles/css/style.css" rel="stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="../style/image" type="image/x-icon"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

<!--Block invite page-->

<div class="first_lst">
    <div class="head_container">
        <div class="img_col col-1">
            <img class="logo1" src="../style/image/logo1.png">
        </div>
        <div class="nav_col col-9">
            <nav>
                <ul class="nav__links">
                    <li><a href="#">Гарантия</a></li>
                    <li><a href="#">Оплата</a></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li class="last"><a href="#">Личный кабинет</a></li>
                </ul>
            </nav>
        </div>

    </div>
    <div class="disc_text col-6">
        <h2 class="head_disc">
            #КУПИ/#ПРОДАЙ
        </h2>
        <p class="">
            Онлайн магазин современных электронных товаров с возможностью размещения собственного объявления
        </p>
    </div>
</div>

<!--Block category-->

<div class="second_lst">
    <div class="sec_container">
        <h2>Категории электронных товаров</h2>
        <p style="margin-bottom:2em;">Проверенные, качественные, надежные, самые популярные</p>
        <div class="cols col-3">
            <div class="cat_hover">
                <div id="textinphoto">
                    <a href="#">
                        <img class="cat_photo" src="../style/image/category/pc.jpg">
                        <div class="name_cat">Компьютеры</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cols col-3">
            <div id="textinphoto">
                <div class="cat_hover">
                    <div id="textinphoto">
                        <a href="#">
                            <img class="cat_photo" src="../style/image/category/notebook.jpg">
                            <div class="name_cat">Ноутбуки</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cols col-3">
            <div class="cat_hover">
                <div id="textinphoto">
                    <a href="#">
                        <img class="cat_photo" src="../style/image/category/steel.jpg">
                        <div class="name_cat">Комплектующие</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cols col-3">
            <div class="cat_hover">
                <div id="textinphoto">
                    <a href="#">
                        <img class="cat_photo" src="../style/image/category/monitor.jpg">
                        <div class="name_cat">Мониторы</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cols col-3">
            <div class="cat_hover">
                <div id="textinphoto">
                    <a href="#">
                        <img class="cat_photo" src="../style/image/category/phone.png">
                        <div class="name_cat">Телефоны</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cols col-3">
            <div class="cat_hover">
                <div id="textinphoto">
                    <a href="#">
                        <img class="cat_photo" src="../style/image/category/audio.jpg">
                        <div class="name_cat">Колонки</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Block last published posts-->

<div class="third_lst">
    <div class="third_container">
        <h2 style="margin-bottom:2em;">Meet last published posts</h2>

        <div class="cols col-3">
            <a href="#">
                <img class="post_photo" src="../style/image/posts/macbook.jpg">
                <h6>MacBook PRO</h6>
                <p>79999</p>
            </a>
            <buttom class="button button-black" type="submit">Добавить в корзину</buttom>
        </div>
        <div class="cols col-5">
            <a href="#">
                <img class="post_photo" src="../style/image/posts/memory.jpg">
                <h6>Corsair Vengeance RGB Pro</h6>
                <p>7999</p>
            </a>
            <buttom class="button button-black" type="submit">Добавить в корзину</buttom>
        </div>

        <div class="cols col-5">
            <a href="#">
                <img class="post_photo" src="../style/image/posts/motherboard.jpg">
                <h6>Corsair Vengeance RGB Pro</h6>
                <p>8990</p>
            </a>
            <buttom class="button button-black" type="submit">Добавить в корзину</buttom>
        </div>

        <div class="cols col-5">
            <a href="#">
                <img class="post_photo" src="../style/image/posts/speedlink.jpg">
                <h6>Corsair Vengeance RGB Pro</h6>
                <p>9120</p>
            </a>
            <buttom class="button button-black" type="submit">Добавить в корзину</buttom>
        </div>

        <div class="cols col-5">
            <a href="#">
                <img class="post_photo" src="../style/image/posts/osmio_notebook.jfif">
                <h6>Osmio g305-em</h6>
                <p>49000</p>
            </a>
            <buttom class="button button-black" type="submit">Добавить в корзину</buttom>
        </div>

        <div class="cols col-5">
            <a href="#">
                <img class="post_photo" src="../style/image/posts/iphone-12.jpg">
                <h6>IPhone 12 mini 128gb</h6>
                <p>64999</p>
            </a>
            <buttom class="button button-black" type="submit">Добавить в корзину</buttom>
        </div>

    </div>
</div>

<!--Block about us-->

<div class="fourth_lst">
    <div class="about_us">
        <div class="cols col-3">
            <div class="block_text">
                <h2 style="font-weight: bold ;">О нас</h2>
                <br>
                <h4 style="font-weight: normal; line-height: 1.7em;">Мы любим городскую моду и обожаем создавать одежду.
                    Находимся в Нижнем Новгороде.
                    Наш бренд Ascent сфокусирован на городском стиле, универсальности и натуральных материалах.
                    Доставка доступна по всему миру.
                </h4>
            </div>
        </div>
        <div class="cols col-3">
            <img class="about_us_photo" src="../style/image/about_us.jpg">
        </div>

    </div>
</div>

<!--Block ad-->

<div class="event">
    <div class="event_disc">
        <h2>Узнайте об акциях и скидках первыми!</h2>
        <h4 style="margin:1em 20% 2em 20%; font-weight: 100; line-height: 1.5em;">Один раз в месяц мы будем присылать
            вам информацию
            о наших последних коллекциях, скидках и акциях.
            Обещаем быть полезными!
        </h4>
        <div class="form_input_box">
            <input class="field_input" type="text" name="login" placeholder="Ваш E-mail"/>
            <button class="field_btn" type="button">Подписаться</button>
        </div>
    </div>
</div>

<div class="footer_up">
    <div class="footer_disc col-6" style="color:#fff;">
        <div class="block_text">
            <h2>+1 123 456 78 90 hello@ascent.com</h2>
            <h4 style="font-weight: 100; line-height: 4em;">
                Барнаул, проспект Ленина, 34
            </h4>
        </div>
    </div>
</div>

<div class="footer_down">
    <h6 style="padding-top:1em;color:#686868;">Made by Dmitriy Kornev</h6>
</div>

</body>
</html>