* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}

.first_lst{
    height: 100vh;
}

body {
    font: 100px/1.5em Lucida Sans Unicode, Helvetica, sans-serif;
    font-size: 25px;
    color: #000;
    background: url(../image/header2.jpg);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}


.head_container {
    width: 95%;
    margin: 0 auto;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    margin: 0 auto;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin: 0 1em 1em 0;
}

.head_container .img_col {

}

.logo1 {
    margin: 1em 0 1em;
    position: absolute;
    width: 20%;
    height: auto;

}

.head_container .nav_col {
    float: right;
    margin: 1em 0 1em;
    padding: 0 1em;
    text-align: center;

}

.disc_text {
    width: 50%;
    margin: 14em auto;
    text-align:center;
    font-size: 30px;
    color: #fff;
}






.second_list {

}

.sec_container {
    width: 80%;
    margin: 6em auto;
    padding: 0 1em;
    text-align: center;
}

.sec_container .cols {
    float: center;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

#textinphoto {
    position: relative;
}

#textinphoto .name_cat{
    position: absolute;
    top: 4em;
    left: 4em;
    right: 4em;
    color: #fff;
    font-size: 30px;
}

.cat_photo {
    width: 18em;
    height: 11em;
}

.cat_hover {
    display: inline-block; /* Строчно-блочный элемент */
    overflow: hidden; /* Скрываем всё за контуром */
}

.cat_hover img {
    transition: 0.5s; /* Время эффекта */
    display: block; /* Убираем небольшой отступ снизу */
}

.cat_hover div img:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
}


.name_cat {
    box-sizing: content-box;
}



.third_lst {

}

.third_container {
    width: 58%;
    margin: 6em auto;
    padding: 0 1em;
    text-align: center;
}

.third_container .cols {
    float: center;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: 0.5em;
}

.post_photo {
    width: 11.9em;
}


.button {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    user-select: none;
    line-height: 1.5;
    font-size: 1rem;
}

.button-black {
    color: #fff;
    background: #000;
}

.button-black:hover {
    opacity: .8;
}

.p-button: hover {
    color: red;
}




.fourth_lst{

}

.about_us{
    background: #CCCCCC;
    margin: 6em auto;
    text-align: center;
    height: 30em;
}

.about_us .cols{

    float: center;
    display: inline-block;
    word-wrap: break-word
    margin: 0.5em;
}

.block_text {
    text-align: left;
    font-size: 20px;
    max-width: 500px;
    margin: 13em 2em 7em 0;
    font-weight: normal;
}

.about_us_photo {
    width: 15em;
}


.event {
    width: 60%;
    margin: 6em auto;
    text-align: center;
    height: 15em;
}

.form_input_box {

}


.text-field__btn {
    font-size: 35px;
    background-color: #bdbdbd;
}



.field_input {
  width: 40%;
  height: 3em;
  border: 1px solid;
  padding: 0 1.5em;

}

.field_btn {
    height: 1.9em;
    background: #000;
    color: #fff;
    font-size: 20px;
}



.footer_up {
    margin-top: 6em;
    text-align: center;
    height: 20em;
    background:#282828
}

.footer_up .footer_disc {
    float: center;
    display: inline-block;
    word-wrap: break-word
    margin: 0.5em;
}
.footer_up .footer_disc .block_text {
    text-align: center;
    font-size: 20px;
    max-width: 500px;
    margin: 7em 2em 7em 0;
    font-weight: normal;
}


.footer_down {
    text-align: center;
    height: 3em;
    background:#000;
}


.container {
    width: 90%;
    margin: 0 auto;
}

.container .cols {
    float: left;
    margin: 0 0 1em;
    padding: 0 1em;
    text-align: center;

}


.container .cols.col-1 { width: 8.333333333333333%}
.container .cols.col-2 { width: 16.66666666666667%}
.container .cols.col-3 { width: 25%}
.container .cols.col-4 { width: 33.33333333333333%}
.container .cols.col-5 { width: 41.66666666666667%}
.container .cols.col-6 { width: 50%}
.container .cols.col-7 { width: 58.33333333333333%}
.container .cols.col-8 { width: 66.66666666666667%}
.container .cols.col-9 { width: 75%}
.container .cols.col-10 { width: 83.33333333333333%}
.container .cols.col-11 { width: 91.66666666666667%}
.container .cols.col-12 { width: 100%}


.about_us_container .about_us_block:before,
.about_us_container .about_us_block:after,
.about_us:before,
.about_us:after,
.third_container:before,
.third_container:after,
.sec_container:before,
.sec_container:after,
.disc_text:before,
.disc_text:after,
.head_container:before,
.head_container:after,
.container:before,
.container:after,
.clear:before,
clear:after {
    content: "";
    display: table;
}

.row:after,
.clear:after {
    clear: both;
}


